// DotsLoader.module.scss
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 4px;
}

.dot {
    border-radius: 50%;
    animation: glow linear 1s infinite;

    @keyframes glow {
        0%,
        100% {
            opacity: 0.1;
        }

        50% {
            opacity: 1;
        }
    }
}