/**
 * Copyright 2025 Beijing Volcano Engine Technology Co., Ltd. All Rights Reserved.
 * SPDX-license-identifier: BSD-3-Clause
 */

.roomContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 2rem 4vw;
  box-sizing: border-box;

  .declare {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.6rem;
    color: #fff;
  }
}


.mobilePlayer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  // 增加切换摄像头的动画
  transition: all 0.3s ease-in-out;
}
